#username {
    border-bottom-width: 3px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-bottom-color: #FFF;
    border-radius: 5px;
}

#password {
    border-bottom-width: 3px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-bottom-color: #FFF;
    border-radius: 5px;
}

.background{
    background-image: url("../img/background(15).jpg");
    opacity:0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70% 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.loginIcon {
    width: 28px;
    font-size: 28px;
    color: #004D40;
}

.loginbutton {
    padding: 0 20px 0px 20px;
    font-size: 24px;
    width: 70%;
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    color: #FFF;
    border-width: 4px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    display: block;
}

.createNewuser {
    background: #009688;
    border: none
}

.username {
    font-weight: bold;
    color: #009688;
}

.login {
    background-color: transparent;
    padding: 0 20px 0px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
